<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Map</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://maps.googleapis.com/maps/api/staticmap?size=1024x1024&path=color:0xff0000ff|weight:5{{this.points}}&key=AIzaSyDCNbgcEiKA25j7Cg7Jddx0QusAqBRi13c">
  <!-- <ion-input value={{this.points}}></ion-input> -->

</ion-content>