<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heart Rate Monitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Heart Rate Monitor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button style="width: 100%;" id="heart" color="danger" (click)="onTap()">
    <ion-icon name="heart" size="large" id="heart-icon"></ion-icon>
  </ion-button>
  <ion-card>
    <ion-label>Heart Rate: {{hr}}</ion-label>
  </ion-card>
</ion-content>