<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TrackerMan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-title style="text-align: center;">Toggle Route Tracking</ion-title>
    <app-toggle-gps></app-toggle-gps>
  </ion-card>
  <ion-card>
    <ion-title style="text-align: center;">Go To Heart Rate Monitor</ion-title>
    <ion-button style="width: 100%;" id="heart" color="danger" (click)="navigate()" >
      <ion-icon name="heart" size="large" id="heart-icon"></ion-icon>
    </ion-button>
  </ion-card>
</ion-content>
